{% extends "base.html" %}

{% block content %}

<p class="text-center mt-2 fs-2" style="background-color: rgb(133, 19, 19);">
    Select Item Element
</p>
<div class="row">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="" method="post" target="">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Review Selections</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="element" id="element" hidden>
                        <input type="text" name="site" id="site" value="{{url}}" hidden>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="titleCheckbox" disabled
                                    checked>
                                <label for="title">Title</label>
                            </div>
                            <div class="col-md-8">
                                <select id="title" class="form-select" name="title">
                                </select>

                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="descriptionCheckbox"
                                    disabled checked>
                                <label for="description">Description</label>
                            </div>
                            <div class="col-md-8">
                                <select id="description" class="form-select" name="description">
                                </select>

                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="urlCheckbox">
                                <label for="url">URL</label>
                            </div>
                            <div class="col-md-8">
                                <select id="url" class="form-select" name="url" disabled>
                                </select>

                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="dateCheckbox">
                                <label for="date">Date</label>
                            </div>
                            <div class="col-md-8">
                                <select id="date" class="form-select" name="date" disabled>
                                </select>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <iframe id="my_iframe" src='' frameborder="0" width="60%" , height="750px" class=""></iframe>
</div>
<div class="row">
    <button id="approve" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        onclick="approve()" disabled>
        Review
    </button>
</div>
<script>
    var selectedItems = []
    var otherItems = []
    var refMap = {}
    var selectCount = 0
    async function iframe_load() {
        response = await fetch("/fetch?url={{ url }}")
        document.getElementById("my_iframe").srcdoc = await response.text()
    }
    iframe_load()
    var iframe = document.getElementById('my_iframe');
    function select(event) {
        if (selectedItems.includes(event.target)) {
            document.getElementById("approve").disabled = true

            event.target.style.border = "none"
            selectedItems = selectedItems.filter(item => item !== event.target)
            refItem = refMap[event.target]
            for (let index = refItem["min"]; index < refItem["max"]; index++) {
                const element = otherItems[index];
                element.style.border = "none"

            }
            otherItems = otherItems.filter(item => !(otherItems.indexOf(item) >= refItem["min"] && otherItems.indexOf(item) < refItem["max"]))
            // otherItems = otherItems.splice(refItem["min"], refItem["max"] - refItem["min"])
            delete refMap[event.target];
            document.getElementById("title").innerHTML = ""
            document.getElementById("description").innerHTML = ""
            document.getElementById("date").innerHTML = ""
            document.getElementById("url").innerHTML = ""
        }
        else {
            document.getElementById("approve").disabled = false

            event.target.style.border = "2px solid red"
            selectedItems.push(event.target)
            var tItems = iframe.contentDocument.querySelectorAll(getPathOfElement(event.target))
            refMap[event.target] = { "min": otherItems.length, "max": tItems.length + otherItems.length }
            for (let index = 0; index < tItems.length; index++) {
                const element = tItems[index];
                element.style.border = "2px solid red"
                otherItems.push(element)
            }

        }
        document.getElementById("element").setAttribute('value', getPathOfElement(event.target));
    }
    var hoverItem;
    function hover(event) {

        if (hoverItem) {
            if (selectedItems.includes(hoverItem) || otherItems.includes(hoverItem)) {
                hoverItem.style.border = "2px solid red";
            }
            else {
                hoverItem.style.border = "none";

            }
        }
        hoverItem = iframe.contentDocument.elementsFromPoint(event.clientX, event.clientY)[0]
        hoverItem.style.border = "2px solid blue";
        // console.log(event)
    }

    function getPathOfElement(element, relative = false) {
        var result = []
        parent = element
        while (parent) {
            if (parent.parentElement) {
                result.push(parent.parentElement);
                parent = parent.parentElement
            }
            else {
                break;
            }
        }
        var css_string = "";
        for (let index = 0; index < result.length; index++) {
            tElement = result[index]
            temp = tElement.tagName
            if (tElement.getAttribute("class")) {
                if (!tElement.getAttribute("class").includes("(")) {
                    temp += "." + tElement.getAttribute("class").split(" ")[0]
                }
            }
            css_string = temp + " > " + css_string
            if (index > 1 || relative) {
                break;
            }

        }
        if (element.getAttribute("class")) {
            if (!element.getAttribute("class").includes("(")) {
                return css_string + element.tagName + "." + element.getAttribute("class").split(" ")[0]
            }
        }
        return css_string + element.tagName
    }

    function approve() {
        text = ""
        titleObj = document.getElementById("title")
        descriptionObj = document.getElementById("description")
        urlObj = document.getElementById("url")
        dateObj = document.getElementById("date")
        Array.from(selectedItems[0].children).forEach(element => {
            if (element.innerText != "") {
                var opt = document.createElement('option');
                opt.innerHTML = element.innerText
                opt.value = getPathOfElement(element, true)
                titleObj.append(opt.cloneNode(true))
                descriptionObj.append(opt.cloneNode(true))

                dateObj.append(opt.cloneNode(true))
            }
            // text += element.innerText + "\n"
        });
        console.log(selectedItems[0].querySelectorAll("*[href]"))
        Array.from(selectedItems[0].querySelectorAll("*[href]")).forEach(element => {
            var opt = document.createElement('option');
            opt.innerHTML = element.getAttribute("href")
            opt.value = getPathOfElement(element, true)
            urlObj.append(opt.cloneNode(true))
        })
        // document.getElementsByClassName("modal-body")[0].innerText = text
    }

    function validator(event) {
        document.getElementById(event.target.id.slice(0, -8)).disabled = !document.getElementById(event.target.id).checked;

        // if (event.target.id == "titleCheckbox") {

        //     document.getElementById('title').disabled = !document.getElementById(event.target.id).checked;
        // }
        // else if (event.target.id == "descriptionCheckbox") {

        //     document.getElementById('description').disabled = !document.getElementById(event.target.id).checked;
        // }
        // else if (event.target.id == "dateCheckbox") {

        //     document.getElementById('date').disabled = !document.getElementById(event.target.id).checked;
        // }
        // else if (event.target.id == "urlCheckbox") {

        //     document.getElementById('url').disabled = !document.getElementById(event.target.id).checked;
        // }

    }


    var inputs = document.querySelectorAll("input[type='checkbox']");
    inputs.forEach(element => {

        element.addEventListener('click', validator);
    })

    $('#my_iframe').load(function () {
        //then set up some access points
        var contents = $(this).contents(); // contents of the iframe
        $(contents).find("body").on('mouseup', select);
    });
    $('#my_iframe').load(function () {
        //then set up some access points
        var contents = $(this).contents(); // contents of the iframe
        $(contents).find("body").on('mouseover', hover);
    });

    $('#my_iframe').load(function () {
        //then set up some access points
        var contents = $(this).contents(); // contents of the iframe
        $(contents).find("body").on('click', (event) => { event.preventDefault() });
    });
</script>
{% endblock %}