{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="text-center">Site to RSS</h1>
        </div>
    </div>
    <form action="/feed" , method="get">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <input class="form-control" type="search" placeholder="Let's Fetch" name="url">
            </div>
        </div>
        <div class="row justify-content-center mt-2 mb-2">
            <button class="btn btn-primary rounded-pill" type="submit">Fetch</button>
        </div>
    </form>

</div>
<div class="divider"></div>

</div>
{% endblock %}